* {                                  /* Rseseteo universal de estilos. mediante el selector universal */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    font-size: 14px; /* cambiamos valor rem, ahora 1 rem sera 14px */
    
}


.contenedor > div {
    border: 12px, solid, black;
    width: 50px;
    height: 20vh;
    background-color: brown;
}

.navegacion{
   background-color: green;

}


